@font-face{
    /* --filepath: '../fonts/Lato'; */
    font-family: "Lato";
    src: url('./fonts/lato-regular-webfont.woff') format('woff'),
        url('./fonts/lato-italic-webfont.woff') format('woff'),
        url('./fonts/lato-bold-webfont.woff') format('woff')
}

* {
    /* Inverse colors are for night mode and highlighting */
    font-family: 'Lato';
    --background-color: rgb(214, 214, 214);
    --inverse-background-color: rgb(125, 125 , 125);
    --primary-font-color: rgb(44, 44, 44);
    --inverse-font-color: rgb(225 , 225 , 225);

    --hover-background-color: rgb(218, 218, 218);

    --highlight-background-color: rgb(111, 111, 111);

    --submit: rgb(63, 172, 85);

    --outset-container-shadow: 3px 3px 5px rgb(141, 141, 150), -3px -3px 5px rgba(234, 236, 240, 0.932), 3px 3px 8px rgb(209, 209, 209);
    --inset-container-shadow: 3px 3px 5px rgb(119, 119, 125) inset, -3px -3px 5px rgb(236, 237, 241) inset, 3px 3px 8px rgb(209, 209, 209) inset;
    --inset-container-bevel: -3px -3px 5px rgba(29, 29, 29, 0.211) inset, 3px 3px 5px rgba(255, 255, 255, 0.585) inset, 3px 3px 8px rgb(209, 209, 209) inset;

    --header-shadow: 3px 3px 5px rgb(141, 141, 150), -3px -3px 5px rgba(234, 236, 240, 0.932), 3px 3px 8px rgb(209, 209, 209);

    --highlight-shadow: 3px 3px 5px rgb(141, 141, 150), -3px -3px 5px rgba(234, 236, 240, 0.932), 3px 3px 8px rgb(209, 209, 209);
    --highlight-shadow-inset: 3px 3px 5px rgb(141, 141, 150) inset, -3px -3px 5px rgba(234, 236, 240, 0.932) inset, 3px 3px 8px rgb(209, 209, 209) inset;

}


body {
    background: var(--background-color);
    color: var(--primary-font-color);
}

.wrapper{
    display: flex;
}

.neu-container {
    box-shadow: var(--outset-box-shadow);
}

.neu-container-inset {
    box-shadow: var(--inset-box-shadow);
}

.logo {
    border-radius: 50%;
    box-shadow: var(--outset-box-shadow);
}

aside {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 256px;
    background: var(--inverse-background-color);
}

.hidden {
    display: none;
}

.neu-container {
    box-shadow: 3px 3px 5px rgb(141, 141, 150), -3px -3px 5px rgba(234, 236, 240, 0.932), 3px 3px 8px rgb(209, 209, 209);
    border-radius: 1em;
}

.neu-container.inset {
    box-shadow: 3px 3px 5px rgb(119, 119, 125) inset, -3px -3px 5px rgb(236, 237, 241) inset, 3px 3px 8px rgb(209, 209, 209) inset;
}

.neu-form {
    display: flex;
    flex-direction: column;
}

.neu-form a {
    text-align: center;
    margin-bottom: 12px;
    text-decoration: none;
}

/*#region Inputs */
input[type="text"],
input[type="password"] {
    border: none;
    border-radius: 12px;
    box-shadow: var(--inset-container-shadow)
}

input[type="submit"] , button {
    height: 3em;
    border: none;
    border-radius: 12px;
    box-shadow: var(--outset-container-shadow) , var(--inset-container-bevel);
    background: inherit;

    transition: background 0.2s , box-shadow 0.2s;
}

.neu-container.inset.bevel{
    box-shadow: var(--inset-container-bevel);
}

input[type="submit"]{
    background: rgb(117, 224, 138);
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover{
    background: rgb(63, 172, 85);
}

button:hover{
    background: rgb(255 , 255 , 255);
}

input[type="submit"]:active , button:active{
    box-shadow: var(--inset-container-shadow);
    background: var(--inverse-background-color);
    color: var(--inverse-font-color);
}

input[type="submit"]:focus , button:focus{
    outline: none;
}
/*#endregion  */

label {
    text-align: center;
    margin-bottom: 6px;
}

.circle{
    --diameter: 50px;
    border-radius: 50%;
    min-height: var(--diamater);
    height: var(--diameter);
    min-width: var(--diameter);
    width: var(--diameter);
}

.inverse{
    background: var(--inverse-background-color);
    color: var(--inverse-font-color);
}

/*#region Identifiable Elements  */
#page-header{
    --padding-v: 0.5%;
    --padding-h: 3%;
    box-shadow: var(--header-shadow);
    padding-top: var(--padding-v);
    padding-bottom: var(--padding-v);
}

#page-footer{
    background: var(--inverse-background-color);
    bottom: 0;
    width: 100%;
    box-shadow: var(--outset-container-shadow);
}
/*#endregion */


/*#region Coloration */
/*#endregion */

#avatar{
    border-radius: 50%;
    display: flex;
    box-shadow: var(--outset-container-shadow);
}

#avatar img{
    /* We Need Cropping */
    width: 100%;
    height: 100%;
    margin: auto;
}

.searchbar{
    display: flex;
    flex-direction: row;
    box-shadow: var(--outset-box-shadow);
    margin: 6px;
    background: white;
    border-radius: 12px;
}

.searchbar input[type="submit"]{
    margin-bottom: 0px;
    background: none;
    box-shadow: none;

    background: none;
    color: black;
    font-weight: inherit;
}

.searchbar input[type="text"].search-input{
    background: none;
    box-shadow: none;
}

.bg-main{
    background: var(--background-color);
    color: var(--primary-font-color);
}


.bg-inverse{
    background: var(--inverse-background-color);
    color: var(--inverse-font-color);
}

