*{
    --side-margin-total: 0.5%;
    --thirds: calc( var(--base-width) - (var(--side-margin-total) * 4));
    --halves: 
}

.grid{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* border: 5px solid blue; */
}

.jumbotron{
    width: calc(100% - var(--side-margin-total));
    display: flex;
    margin-left: calc(var(--side-margin-total) / 2);
    margin-right: calc(var(--side-margin-total) / 2);

    min-height: 128px;
}

.jumbotron div{
    margin: auto;
}

.grid-item{
    margin: 1%;
    display: flex;
}

.grid .grid-item{
    margin-left: calc(var(--side-margin-total) / 2);
    margin-right: calc(var(--side-margin-total) / 2);
}

.grid.d-1x3 .grid-item{
    width: 32%;
}

.grid.d-2x2 .grid-item{
    width: 48%;
}

.grid.d-3x3 .grid-item{
    width: 32%;
}

.grid.d-1x2 .grid-item{
    width: 48%;
}


