*{
    --side-margin-total: 0.5%;
    --thirds: calc( var(--base-width) - (var(--side-margin-total) * 4));
}

.grid{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* border: 5px solid blue; */
}

/* .jumbotron{
    display: flex;
    width: calc(100% - var(--side-margin-total));
    margin-left: calc(var(--side-margin-total) / 2);
    margin-right: calc(var(--side-margin-total) / 2);

    min-height: 128px;
} */

.jumbotron div{
    margin: auto;
}

.grid-item{
    margin: 1%;
    display: flex;
}

.grid .grid-item{
    margin-left: calc(var(--side-margin-total) / 2);
    margin-right: calc(var(--side-margin-total) / 2);
}

.grid.d-1x3 .grid-item{
    width: 32%;
}

.grid.d-2x2 .grid-item{
    width: 48%;
}

.grid.d-3x3 .grid-item{
    width: 32%;
}

.grid.d-1x2 .grid-item{
    width: 48%;
}

.page-overlay{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 3;
}

.page-overlay *{
    /* pointer-events: initial; */
}

.ignore-click{
    pointer-events: none;
}